<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cadastro</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-300 p-10 shadow  col-span-5 row-span-9 w-full border border-red-500 overflow-y-auto">
            
            
            <form id="formCreate" class="mx-auto bg-white p-10 w-full" enctype="multipart/form-data">
                <button onclick="deactivateRegistration('<%= userData._id %>')" type="button" class="px-8 py-2 mb-10 bg-red-600 hover:bg-red-500 font-semibold text-white">DESATIVAR CADASTRO</button>

                <h2 class="text-gray-600 font-semibold text-lg ">Informações basicas</h2>
                <hr><br>
                <div class="mb-5 grid grid-cols-3 gap-x-10 gap-y-5">

                    <div class="block w-full">
                        <label for="name" class="block text-sm text-gray-500">Nome: <span class="text-red-500 ">*</span></label>
                        <input value="<%= userData.name ?? "Não definido"%>" required type="text" name="name" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="email" class="block text-sm text-gray-500">Email:</label>
                        <input value="<%= userData.email ?? "Não definido"%>" type="text" name="email" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="rg" class="block text-sm text-gray-500">RG:</label>
                        <input value="<%= userData.rg ?? "Não definido"%>" type="text" name="rg" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label required for="cpf" class="block text-sm text-gray-500">CPF: <span class="text-red-500 ">*</span></label>
                        <input value="<%= userData.cpf ?? "Não definido"%>" type="text" name="cpf" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="tel" class="block text-sm text-gray-500">Telefone:</label>
                        <input value="<%= userData.tel ?? "Não definido"%>" type="text" name="tel" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="dateOfBirth" class="block text-sm text-gray-500">Data de Nascimento:  <span class="text-red-500 ">*</span></label>
                        <input value="<%= userData.dateOfBirth ?? "Não definido"%>" required type="text" name="dateOfBirth" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="sex" class="block text-sm text-gray-500">Sexo:  <span class="text-red-500 ">*</span></label>
                        <select required name="sex" id="" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                            <option <% userData.sex != 'man' &&  userData.sex != 'woman' ? 'selected' : ''  %> disabled value="man">Selecione</option>
                            <option <%= userData.sex == 'man' ? 'selected' : ''  %>  value="man">Homen</option>
                            <option <%= userData.sex == 'woman' ? 'selected' : ''  %> value="woman">Mulher</option>
                        </select>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <label for="whatsapp" class="text-sm text-gray-500">WhatsApp</label> <br>
                        <input <%= userData.whatsapp ? 'checked': '' %>  type="checkbox" name="whatsapp">
                        <span class="text-gray-600 px-2">Este número possui WhatsApp?</span>
                    </div>

                </div>
              
                <h2 class="text-gray-600 font-semibold text-lg mt-10">Endereço</h2>
                <hr><br>
                <div class="mb-5 grid grid-cols-3 gap-x-10 gap-y-5">

                    <div class="block w-full">
                        <label for="cep" class="block text-sm text-gray-500">CEP:</label>
                        <input value="<%= userData.address.cep ?? "Não definido"%>" type="number" name="cep" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="publicPlace" class="block text-sm text-gray-500">Rua:</label>
                        <input value="<%= userData.address.publicPlace?? "Não definido"%>"  type="text" name="publicPlace" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="neighborhood" class="block text-sm text-gray-500">Bairro:</label>
                        <input value="<%= userData.address.neighborhood ?? "Não definido"%>" type="text" name="neighborhood" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="houseNumber" class="block text-sm text-gray-500">N:</label>
                        <input value="<%= userData.address.houseNumber ?? "Não definido"%>" type="number" name="houseNumber" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="city" class="block text-sm text-gray-500">Cidade:</label>
                        <input value="<%= userData.address.city ?? "Não definido"%>" type="text" name="city" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="uf" class="block text-sm text-gray-500">UF:</label>
                        <input value="<%= userData.address.uf ?? "Não definido"%>" type="text" name="uf" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>

                </div>

                <h2 class="text-gray-600 font-semibold text-lg  mt-10 m-auto text-center">Imagem do Cadastrado</h2>
                <hr><br>
                <div class="mb-5  gap-x-10 gap-y-5">
                    <img id="previewImage" src="/images/<%= userData.image ?? "Não definido"%>" alt="" class="shadow-md w-52 h-72 m-auto mb-5 object-cover">
                    <div class="text-md bg-gray-200 border-2 border-gray-500 active:border-blue-500  px-4 w-48 h-10 py-2 rounded-lg text-gray-600 relative m-auto"> 
                        <span class="text-sm w-full h-ful flex items-center justify-center">Selecione uma imagem</span>   
                        <input id="inputFile" type="file" name="image" class="w-48 h-10 overflow-hidden p-0 border border-red-700 absolute top-0 left-0 opacity-0">
                    </div>
                </div>


                <div class="flex items-center space-x-4 justify-end mt-20 ">

                    
                    <button onclick="updateUser('<%= userData._id %>')" type="button" class="text-white bg-blue-600 hover:bg-blue-700 ml-auto block focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm w-full sm:w-auto px-10 py-2.5 text-center ">SALVAR ATUALIZAÇÃO</button>
                </div>
            </form>
            
        </main>

    </section>
</body>
</html>
<script src="/js/editRegistration.js"></script>


