<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Dependente</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-300 p-10 shadow  col-span-5 row-span-9 w-full  border-red-500 overflow-y-auto">
            <section class="mx-auto bg-white p-10 w-full text-gray-600  max-w-screen-md">

                <h2 class="text-2xl">Dependente</h2>
                <hr class="my-5">

                <form id="formEditDependent" class="grid grid-cols-2  " enctype="multipart/form-data">
                    <!-- Imagem -->
                    <div class="m-auto  w-full">
                        <img id="previewImage" src="<%= typeof dependent.image !== 'undefined' && dependent.image ? '/images/'+ dependent.image : '/default-placeholder.png' %>" alt="" class="shadow-md w-52 h-72 m-auto mb-5  object-cover">
                        <div class="text-md bg-gray-200 border-2 border-gray-500 active:border-blue-500  px-4 w-48 h-10 py-2 rounded-lg text-gray-600 relative m-auto"> 
                            <span class="text-sm w-full h-ful flex items-center justify-center">Selecione uma imagem</span>   
                            <input id="inputFile" type="file" name="image" class="w-48 h-10 overflow-hidden p-0 border border-red-700 absolute top-0 left-0 opacity-0">
                        </div>
                    </div>

                    <!-- formulario -->
                    <div class="m-auto  w-full h-full">
                        <h2 class="text-lg text-gray-600 mb-2 mt-5">Principal</h2><hr>
                        <div class=m-auto "block w-full">
                            <label for="name" class="block text-sm text-gray-500">Nome: <span class="text-red-500 ">*</span></label>
                            <input value="<%= dependent.name ?? "" %>" required type="text" name="name" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                        </div>
                        <div class="m-auto block w-full">
                            <label for="rg" class="block text-sm text-gray-500">RG: <span class="text-red-500 ">*</span></label>
                            <input value="<%= dependent.rg ?? "" %>" required type="text" name="rg" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                        </div>
                        <div class="m-auto block w-full">
                            <label for="cpf" class="block text-sm text-gray-500">CPF: <span class="text-red-500 ">*</span></label>
                            <input value="<%= dependent.rg ?? "" %>" required type="text" name="cpf" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                        </div>
                        <div class="m-auto block w-full">
                            <label for="dateOfBirth" class="block text-sm text-gray-500">Data de Nascimento: <span class="text-red-500 ">*</span></label>
                            <input value="<%= dependent.dateOfBirth ?? "" %>" required type="text" name="dateOfBirth" class="w-full px-4  border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                        </div>
                        <div class="m-auto block w-full">
                            <label for="sex" class="block text-sm text-gray-500">Sexo:  <span class="text-red-500 ">*</span></label>
                            <select required name="sex" id="" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                                <option <%= dependent.sex !== 'man' && dependent.sex !== 'woman'  ? 'selected' : '' %> disabled value="man">Selecione</option>
                                <option <%= dependent.sex == 'man' ? 'selected' : '' %>  value="man">Homen</option>
                                <option <%= dependent.sex == 'woman' ? 'selected' : '' %> value="woman">Mulher</option>
                            </select>
                        </div>
                    </div>

                    <!-- controles -->
                    <div class="flex items-center space-x-4  justify-end w-full col-span-2  py-4">
                        <button type="button" onclick="window.history.back()"  class="  max-w-min rounded-sm px-8 py-2 text-white bg-yellow-600 hover:bg-yellow-500">VOLTAR</button>
                        <button type="button" onclick="deactivateDependent('<%= dependent._id %>')"  class="  max-w-min rounded-sm px-8 py-2 text-white bg-red-600 hover:bg-red-500">DESATIVAR</button>
                        <button type="button" onclick="dependentUpdate('<%= dependent._id %>')"  class="  max-w-min rounded-sm px-8 py-2 text-white bg-blue-600 hover:bg-blue-500">ATUALIZAR</button>
                    </div>                  
                </form>

            </section>
        </main>
    </section>
</body>
</html>


<script src="/js/editDependent.js"></script>