<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-300 p-10 shadow  col-span-5 row-span-9 w-full">
            <section class="mx-auto bg-white p-10 w-full text-gray-600  max-w-screen-md">

                <h2 class="text-2xl">Metadados do Sistema</h2>
                <hr class="my-5">
                <p>Pessoas cadastradas: <%= data.persons  %></p>
                <p>Homens: <%= data.man  %></p>
                <p>Mulheres: <%= data.woman  %></p>
                <p>Dependentes: <%= data.dependents  %></p>
                <p>Dependentes Mulheres: <%= data.dependentsWoman  %></p>
                <p>Dependentes Homens: <%= data.dependentsMan  %></p>
                <p>Crianças: <%= data.children  %></p>
            </section>
        </main>

    </section>
</body>
</html>