<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-200 p-10 shadow  col-span-5 row-span-9 w-full border border-red-500 overflow-y-auto">
            <!-- FILTROS -->
            <section class="bg-white p-4 text-gray-500 text-sm flex  items-end px-10">
                <div class="flex space-x-4">
                    <div>
                        <label for="">Nome:</label><br>
                        <input type="text" class="px-4 py-2 focus:outline-none border">
                    </div>
                    <div>
                        <label for="">Telefone:</label><br>
                        <input type="text" class="px-4 py-2 focus:outline-none border">
                    </div>
                    <div>
                        <label for="">CPF:</label><br>
                        <input type="text" class="px-4 py-2 focus:outline-none border">
                    </div>
                </div>
                <button class="bg-blue-500 hover:bg-blue-600 flex-none hover:shadow-md text-white font-semibold px-4 py-0 block h-10 ml-5">FILTRAR</button>
   
            </section>
            
            <!-- LISTA -->
            <section class="mx-auto bg-white p-10 pt-5 w-full">

                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-300  ">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    NOME
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    TELEFONE
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    CPF
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    RG
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    DATA DE NASCIMENTO
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    DATA DE REGISTRO
                                </th>
                                <th scope="col" class="px-6 py-3 text-center">
                                    EDITAR
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <% users.forEach(e => { %> 
                                <tr id="<%= e._id  %>" class="bg-gray-50  hover:bg-gray-200 border-b   relative">
                                    <th  scope="row" class="redirect px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">             
                                        <%= e.name  %>
                                    </th>
                                    <td class="px-6 py-4 redirect">
                                        <%= e.tel  %>
                                    </td>
                                    <td class="px-6 py-4 redirect">
                                        <%= e.cpf  %>
                                    </td>
                                    <td class="px-6 py-4 redirect">
                                        <%= e.rg  %>
                                    </td>
                                    <td class="px-6 py-4 redirect">
                                        <%= e.dateOfBirth  %>
                                    </td>
                                    <td class="px-6 py-4 redirect">
                                        <% const date = new Date(e.createdAt); %>
                                        <%= `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} - ${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}` %>
                                    </td>
                                    <td class="px-6 py-4 flex justify-center">
                                        <a class="text-white font-semibold px-4 py-2 m-auto  bg-blue-500" href="/editar-cadastro?id=<%= e._id  %>">EDITAR</a>
                                 
                                    </td>
                                </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>

            </section>
          
            
        </main>

    </section>
</body>
</html>


<script>
    document.querySelectorAll('.redirect').forEach((e)=>{
        e.addEventListener('click', (e)=>{
            window.location.href = `/perfil?id=${e.target.parentNode.id}`
        })
    })
</script>