<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-300 p-10 shadow  col-span-5 row-span-9 w-full border border-red-500 overflow-y-auto">
            <section class="mx-auto bg-white p-10 w-full text-gray-600 ">

                <h2 class="text-2xl">Principal</h2>
                <hr class="my-5">
                <div class="flex mt-2">
                    <img src="<%= userData.image ? '/images/'+userData.image : '/default-placeholder.png' %>" alt="imagem do usuario" class="w-52 h-72 object-cover rounded-sm mr-5">
                    
                    <section class="flex justify-between w-full">

                        <div class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Principal</h2><hr>
                            <p><b>Nome: </b><%= userData.name ?? 'Não definido' %></p>
                            <p><b>Status: </b><%= userData.activeUser ? 'ATIVO' : 'INATIVO' %></p>
                            <p><b>RG: </b><%= userData.rg ?? 'Não definido' %></p>
                            <p><b>CPF: </b><%= userData.cpf ?? 'Não definido' %></p>
                            <p><b>DATA DE NASCIMENTO: </b><%= typeof userData.dateOfBirth !== 'undefined' && userData.dateOfBirth ? userData.dateOfBirth : 'Não definido' %></p>
                        </div>

                        <div  class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Endereço</h2><hr>
                            <p><b>CEP: </b><%= userData.address.cep ?? 'Não definido' %></p>
                            <p><b>Rua: </b><%= userData.address.publicPlace ?? 'Não definido' %></p>
                            <p><b>Bairro: </b><%= userData.address.neighborhood ?? 'Não definido' %></p>
                            <p><b>Cidade: </b><%= userData.address.city ?? 'Não definido' %></p>
                            <span><b>UF: </b><%= userData.address.uf ?? 'Não definido' %></span>
                            <span><b>Nº: </b><%= userData.address.houseNumber ?? 'Não definido' %></span>
                        </div>

                        <div  class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Contato</h2><hr>
                            <p><b>TELEFONE: </b><%=  userData.tel ?? 'Não definido' %></p>
                            <p><b>WhatsApp: </b> <%- userData.whatsapp ? `<span><a href="https://wa.me/${userData.tel}" class="text-blue-600 hover:underline" target="_blank">Abrir WhatsApp</a></span>` : 'Sem WhatsApp' %></p>
                            <p><b>Email: </b><%=  userData.email ?? 'Não definido' %></p>
                        </div>
                    </section>
                    
                    
                    
                </div>
                <h2 class="text-2xl mt-10"><%=  userData.dependents  && userData.dependents.length > 0 ? 'Dependentes' : ''  %></h2>
                <hr class="my-5">
                <div class="grid lg:grid-cols-2 md:grid-cols-1 xl:grid-cols-3   gap-5 mb-5 ">

                    <%userData.dependents.length > 0 && userData.dependents.forEach(e => { %>

                        <% if (e.active) { %>
                            <a href="editar-dependente?id=<%= e._id %>">

                                <div class="flex items-start  m-auto border shadow-md">
                                    <img src="<%= e.image ? `/images/${e.image}` : '/default-placeholder.png'  %>" alt="" class=" border-gray-300  w-36 h-52 object-cover rounded-sm">
                                    <div class="text-sm  ml-2 p-5">
                                        <p><b>Nome: </b><%= e.name ?? 'Não definido' %></p>
                                        <p><b>Nascimento: </b><%= e.dateOfBirth ?? 'Não definido' %></p>
                                        <p><b>RG: </b><%= e.rg ?? 'Não definido' %></p>
                                        <p><b>CPF: </b><%= e.cpf ?? 'Não definido' %></p>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                    <% }) %>

                </div>
                        
    
                                  
                <a href="/editar-cadastro?id=<%= userData._id  %>" class="ml-auto block w-52 text-center  rounded-sm px-8 py-2 text-white bg-blue-600 hover:bg-blue-500">EDITAR USUARIO</a>
            </section>
          
            
        </main>

    </section>
</body>
</html>

