<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

</head>

<body class=" h-full">
    <section class=" h-[100vh] w-full grid grid-cols-6 grid-rows-10">
        <%- include('components/assidebar.ejs') %>
        <%- include('components/navbar.ejs') %>

        <main class="bg-gray-300 p-10 shadow  col-span-5 row-span-9 w-full  overflow-y-auto">
            <section class="mx-auto bg-white p-10 w-full text-gray-600 ">

                <h2 class="text-2xl">Principal</h2>
                <hr class="my-5">
                <div class="flex mt-2">
                    <img src="<%= userData.image ? '/images/'+userData.image : '/default-placeholder.png' %>" alt="imagem do usuario" class="w-52 h-72 object-cover rounded-sm mr-5">
                    
                    <section class="flex justify-between w-full">

                        <div class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Principal</h2><hr>
                            <p><b>Nome: </b><%= userData.name ?? 'Não definido' %></p>
                            <p><b>Sexo: </b><%= userData.sex === 'woman' ? 'Mulher' : userData.sex === 'man' ? 'Homem' : 'Não definido' %></p>
                            <p><b>Status: </b><%= userData.activeUser ? 'ATIVO' : 'INATIVO' %></p>
                            <p><b>RG: </b><%= userData.rg ?? 'Não definido' %></p>
                            <p><b>CPF: </b><%= userData.cpf ?? 'Não definido' %></p>
                            <p><b>DATA DE NASCIMENTO: </b><%= typeof userData.dateOfBirth !== 'undefined' && userData.dateOfBirth ? userData.dateOfBirth : 'Não definido' %></p>
                        </div>

                        <div  class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Endereço</h2><hr>
                            <p><b>CEP: </b><%= userData.address.cep ?? 'Não definido' %></p>
                            <p><b>Rua: </b><%= userData.address.publicPlace ?? 'Não definido' %></p>
                            <p><b>Bairro: </b><%= userData.address.neighborhood ?? 'Não definido' %></p>
                            <p><b>Cidade: </b><%= userData.address.city ?? 'Não definido' %></p>
                            <span><b>UF: </b><%= userData.address.uf ?? 'Não definido' %></span>
                            <span><b>Nº: </b><%= userData.address.houseNumber ?? 'Não definido' %></span>
                        </div>

                        <div  class=" px-4">
                            <h2 class="text-lg text-gray-600 mb-2 mt-5">Contato</h2><hr>
                            <p><b>TELEFONE: </b><%=  userData.tel ?? 'Não definido' %></p>
                            <p><b>WhatsApp: </b> <%- userData.whatsapp ? `<span><a href="https://wa.me/${userData.tel}" class="text-blue-600 hover:underline" target="_blank">Abrir WhatsApp</a></span>` : 'Sem WhatsApp' %></p>
                            <p><b>Email: </b><%=  userData.email ?? 'Não definido' %></p>
                        </div>
                    </section>
                    
                    
                    
                </div>
                <h2 class="text-2xl mt-10"><%=  userData.dependents  && userData.dependents.length > 0 ? 'Dependentes' : ''  %></h2>
                <hr class="my-5">
                <div class="grid lg:grid-cols-2 md:grid-cols-1 xl:grid-cols-3   gap-5 mb-5 ">

                    <%userData.dependents.length > 0 && userData.dependents.forEach(e => { %>

                        <% if (e.active) { %>
                            <a href="editar-dependente?id=<%= e._id %>">

                                <div class="flex items-start  m-auto border shadow-md">
                                    <img src="<%= e.image ? `/images/${e.image}` : '/default-placeholder.png'  %>" alt="" class=" border-gray-300  w-36 h-52 object-cover rounded-sm">
                                    <div class="text-sm  ml-2 p-5">
                                        <p><b>Nome: </b><%= e.name ?? 'Não definido' %></p>
                                        <p><b>Nascimento: </b><%= e.dateOfBirth ?? 'Não definido' %></p>
                                        <p><b>RG: </b><%= e.rg ?? 'Não definido' %></p>
                                        <p><b>CPF: </b><%= e.cpf ?? 'Não definido' %></p>
                                        <p><b>Sexo: </b><%= e.sex == 'man' ? 'Homen' : 'Mulher' %></p>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                    <% }) %>

                </div>
                        
                <div class="flex items-center justify-end space-x-4">
                    <button onclick="openPopUpAddNewDependent()" type="button" class="block w-72 text-center  rounded-sm px-8 py-2 text-white bg-green-600 hover:bg-green-500">ADICIONAR DEPENDENTE</button>

                    <a href="/editar-cadastro?id=<%= userData._id  %>" class=" block w-52 text-center  rounded-sm px-8 py-2 text-white bg-blue-600 hover:bg-blue-500">EDITAR USUARIO</a>
                </div>

                <h2 class="text-2xl mt-10">Serviços Atribuidos</h2>
                <hr class="my-5">
                <div class="my-5">
                    <select name="" id="inputAssignService" class="border py-2 px-4 min-w-96">
                        <option value="" disabled selected>Selecione</option>
                        <% services.map(element => { %>
                            <option value="<%= element._id %>" class="text-gray-600"><%= element.name %></option>
                        <% }) %> 
                    </select>

                    <button onclick="assignService('<%= userData._id %>')" class="text-white px-4 py-2 bg-blue-600 hover:bg-blue-500">Atribuir</button>
                </div>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-300  ">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Serviço
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Data
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Remover
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="listOfPeoples">
                        <% const users = [1,2,3,4,5] %>
                        <% userData.services.forEach(e => { %> 
                            <tr id="<%= e._id  %>" class="bg-gray-50  hover:bg-gray-200 border-b   relative">
                                <th  scope="row" class="redirect px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">             
                                    <%= e.name  %>
                                </th>
                                <td  scope="row" class="redirect px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">   
                                    <%
                                        const data = new Date(e.createdAt);
                                        const options = { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' };
                                        const dataFormatada = data.toLocaleString('pt-BR', options);
                                    %>
                                    <%= dataFormatada %>

                                </td>
                                <td  scope="row" class="redirect px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">             
                                    <button onclick="removeAssignment('<%= userData._id  %>', '<%= e._id  %>')" class="text-white px-4 py-2 bg-red-600 hover:bg-red-500">Remover</button>
                                </td>
       
                            </tr>
                        <% }) %>

                    </tbody>
                </table>
               
            </section>
          
            
        </main>

    </section>
    <section id="popupDependent" class="border hidden p-10 bg-gray-50 shadow-2xl rounded-sm absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <button onclick="closePopUpAddNewDependent()" type="button" class="ml-auto  block px-4 py-2 bg-red-500 hover:bg-red-600 text-white font-semibold ">FECHAR</button>
        
        <div class="border my-5 shadow-md px-4 py-2 bg-white">
            <form id="formNewDependent">

                <!-- Formulario de dependente -->
                <div class="grid grid-cols-1  px-10 py-2 gap-x-5 gap-y-5">
                    <div class="block w-full">
                        <label for="" class="block text-sm text-gray-500">Nome:  <span class="text-red-500">*</span></label>
                        <input required type="text" name="name" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                    </div>
                    <div class="block w-full">
                        <label for="" class="block text-sm text-gray-500">RG:</label>
                        <input type="text" name="rg" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500">
                    </div>
                    <div class="block w-full">
                        <label for="" class="block text-sm text-gray-500">CPF:</label>
                        <input type="text" name="cpf" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500">
                    </div>
                    <div class="block w-full">
                        <label required for="" class="block text-sm text-gray-500">Data de Nascimento:  <span class="text-red-500">*</span></label>
                        <input type="text" name="dateOfBirth" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500">
                    </div>
                    <div class="block w-full">
                        <label for="sex" class="block text-sm text-gray-500">Sexo:  <span class="text-red-500 ">*</span></label>
                        <select required name="sex" id="" class="w-full px-4 border-b-2 border-gray-300 focus:outline-none focus:border-blue-500 focus:l">
                            <option selected disabled value="man">Selecione</option>
                            <option  value="man">Homen</option>
                            <option  value="woman">Mulher</option>
                        </select>
                    </div>
                    
                </div>
            </form>
        </div>

        <button type="button" onclick="addNewDependent('<%= userData._id  %>')" class="ml-auto w-full  block px-4 py-2 bg-green-600 hover:bg-green-500 text-white  ">ADICIONAR</button>
    </section>
</body>
</html>
<script src="/js/personProfile.js"></script>
