<div class=" bg-gray-600 px-2 py-10 h-[100%] w-full  col-span-1 row-span-10">
    <ul class="duration-200">
        <li class="<%= page != 'home' ? '' : 'hidden'  %>">
            <a href="/" class="hover:bg-gray-500 px-4 py-2 text-white w-full text-center block">Home</a>
        </li>
        <li class="<%= page == 'registrationOfPeople' ? 'bg-gray-500' : ''  %>">
            <a href="/cadastrar-pessoa" class="hover:bg-gray-500 px-4 py-2 text-white w-full text-center block">Cadastrar pessoas</a>
        </li>
        <li class="<%= page == 'listOfPeoples' ? 'bg-gray-500' : ''  %>">
            <a href="/lista-de-pessoas" class="hover:bg-gray-500 px-4 py-2 text-white w-full text-center block">Lista de Pessoas</a>
        </li>
        <li class="<%= page == 'servicos' ? 'bg-gray-500' : ''  %>">
            <a href="/servicos" class="hover:bg-gray-500 px-4 py-2 text-white w-full text-center block">Serviços</a>
        </li>
        <li class="<%= page == 'usuarios' ? 'bg-gray-500' : ''  %> <%= typeof typeUser !== 'undefined' && typeUser && typeUser == 'admin' ? '' : 'hidden'  %>">
            <a href="/usuarios" class="hover:bg-gray-500 px-4 py-2 text-white w-full text-center block">Usuários</a>
        </li>
    </ul>
</div>